@charset "utf-8";

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');

// Image variables
$transparent-background: url("../images/cubes-background.png");

// Brand colours
$blue: #3f72af;

// Change Bulma variables
$family-sans-serif: 'Raleway', sans-serif;
$primary: $blue;

// Update elements
body {
  background-image: $transparent-background;
}


// Update classes
.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.navbar-brand {
  font-family: 'Caveat', cursive;
}

.footer {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.card {
  height: 100%;
}


// Import Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
