@charset "utf-8";

// Image variables
$transparent-background: url("../images/cubes-background.png");

// Brand colours
$blue: #3f72af;

// Change Bulma variables
$primary: $blue;

// Update elements
body {
  background-image: $transparent-background;
}


// Update classes
.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.footer {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.card {
  height: 100%;
}


// Import Bulma
@import "../node_modules/bulma/bulma.sass";
