<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adam Jones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="#" alt="My Logo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button" href="https://github.com/adamj06">View GitHub</a>
                  <a class="button is-primary" href="#">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <div id="heading">
      <section class="section is-large has-text-centered">
        <div class="container">
          <div class="block">
            <h1 class="title">Need a Web Developer?</h1>
            <h1 class="subtitle">I'm happy to help you with that.</h1>
          </div>
          <div class="block">
            <a href="#about-me" class="button is-primary">Show me more!</a>
          </div>
        </div>
      </section>
    </div>
    <div id="about-me">
      <section class="section is-medium has-background-primary has-text-white has-text-centered">
        <div class="container">
          <h2 class="title has-text-white">Let me introduce myself...</h2>
          <h2 class="subtitle has-text-white">I'm Adam.</h2>
          <p>Coding has been a passion of mine since around 2012 when I was
            first introduced to it at school. Since then, I've been hooked.</p>
          <p>The freedom of being able to bring creative ideas to life is what
            keeps the fire burning for me. I'm here to transfer my skills
            across to your business image.</p>
        </div>
      </section>
    </div>
    <div id="skills">
      <section class="section is-medium">
        <div class="container">
          <div class="block has-text-centered">
            <h2 class="title">Well, what can I do?</h2>
            <h2 class="subtitle">Let's take a closer look...</h2>
          </div>
          <div class="block">
            <div class="columns">
              <div class="column">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <h3>Front-End Development</h3>
                    </div>
                    <div class="card-header-icon">
                      <span class="icon">
                        <i class="fas fa-laptop-code"></i>
                      </span>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>React.js</li>
                        <li>Bootstrap</li>
                        <li>Bulma</li>
                        <li>jQuery</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <h3>Back-End Development</h3>
                    </div>
                    <div class="card-header-icon">
                      <span class="icon">
                        <i class="fas fa-server"></i>
                      </span>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <ul>
                        <li>JavaScript</li>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>API Implementation</li>
                        <li>SQL</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>Git</li>
                        <li>GitHub</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="block has-text-centered">
            <p>The above covers the main frameworks, languages and libraries I
              use. I am always adding to this list by learning new skills
              relevant to the ever-changing industry.</p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
