<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adam Jones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="#" alt="My Logo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button" href="https://github.com/adamj06">View GitHub</a>
                  <a class="button is-primary" href="#">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <section class="section is-medium">
      <div class="container has-text-centered">
        <h1 class="title">Need a Web Developer?</h1>
        <h1 class="subtitle">I'm happy to help you with that.</h1>
        <a href="#about-me" class="button is-primary">Show me more!</a>
      </div>
    </section>
  </body>
</html>
